@keyframes firstImg {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secondImg {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes headingAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hamburger {
  position: absolute;
  z-index: 50;
}
.hamburger-box {
  padding: 30px 10px;
}

.nav-desktop {
  display: none;
}

.active-nav-mobile {
  transform: translateX(0);
}

.nav-mobile--active {
  transform: translateX(0);
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  transform: translateX(-105%);
  transition: transform 0.3s;
  z-index: 10;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2em 0;
  letter-spacing: 4px;
}

.nav__link:hover {
  color: red;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.header__hero-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  font-family: "Rubik Wet Paint", cursive;
  color: #fff;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
.header__span--one {
  color: #009A44;
}
.header__span--two {
  color: #FFFFFF;
}
.header__span--three {
  color: #FF8200;
}
.header__img-box {
  position: absolute;
}
.header__img--first, .header__img--second {
  position: absolute;
}
.header__img--first {
  animation: firstImg 8s infinite ease-out;
}
.header__img--first img {
  height: 280px;
}
.header__img--second {
  animation: secondImg 8s infinite ease-out;
  opacity: 1;
}
.header__img--second img {
  height: 250px;
  width: 400px;
}
.header__shadow--first {
  transform: translate(35%, 0);
  height: 10px;
  width: 300px;
  box-shadow: 0px -25px 41px 60px rgb(0, 0, 0);
}
.header__shadow--second {
  transform: translate(30%, 150%);
  height: 10px;
  width: 500px;
  box-shadow: 0px -25px 41px 30px rgb(0, 0, 0);
}
.header__heading {
  height: 100px;
  width: 400px;
  transform: translate(-10%, 300%);
  padding: 0 1em;
  text-align: center;
}
.header__heading span {
  font-family: "Stalinist One", cursive;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  opacity: 0;
  animation: headingAnim 5s forwards;
}
.header__first-name :nth-child(1) {
  animation-delay: 0.2s;
}
.header__first-name :nth-child(2) {
  animation-delay: 0.4s;
}
.header__first-name :nth-child(3) {
  animation-delay: 0.6s;
}
.header__first-name :nth-child(4) {
  animation-delay: 0.8s;
}
.header__first-name :nth-child(5) {
  animation-delay: 1s;
}
.header__last-name :nth-child(1) {
  animation-delay: 1.2s;
}
.header__last-name :nth-child(2) {
  animation-delay: 1.4s;
}
.header__last-name :nth-child(3) {
  animation-delay: 1.6s;
}
.header__last-name :nth-child(4) {
  animation-delay: 1.8s;
}
.header__last-name :nth-child(5) {
  animation-delay: 2s;
}
.header__last-name :nth-child(6) {
  animation-delay: 2.2s;
}
.header__last-name :nth-child(7) {
  animation-delay: 2.4s;
}
.header__last-name :nth-child(8) {
  animation-delay: 2.6s;
}

.abouthim {
  height: 120vh;
  overflow: hidden;
}
.abouthim__heading {
  position: relative;
  font-size: 2.5em;
  padding: 2em 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Stalinist One", cursive;
}
.abouthim__heading::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 2px;
  width: 100vw;
  background-color: #fff;
}
.abouthim__img img {
  height: 200px;
  margin: 0 1em;
  border-radius: 50%;
  box-shadow: 3px -2px 40px 0px rgb(148, 148, 148);
}
.abouthim__text {
  padding: 2em 1em;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

@media (min-width: 375px) {
  .header__hero-sign {
    padding: 1em;
  }
  .header__heading {
    transform: translate(-5%, 300%);
  }
  .abouthim {
    height: 100vh;
  }
  .abouthim__img {
    margin: 0 2.5em;
  }
}
@media (min-width: 414px) {
  .header__hero-sign {
    font-size: 2.5em;
  }
  .header__heading {
    transform: translate(-1%, 300%);
  }
  .abouthim__img {
    margin: 0 4em;
  }
  .abouthim__text {
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
  .header__hero-sign {
    font-size: 4.5em;
  }
  .header__img--first, .header__img--second {
    transform: translateX(20%);
  }
  .header__img--first img {
    height: 400px;
    width: 500px;
  }
  .header__img--second img {
    height: 350px;
    width: 550px;
  }
  .header__heading {
    width: 500px;
    left: 50%;
    font-size: 1.7em;
    transform: translate(25%, 400%);
  }
  .abouthim {
    height: 75vh;
  }
  .abouthim__heading {
    font-size: 3em;
  }
  .abouthim__img {
    margin: 0 14em;
  }
  .abouthim__img img {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .header {
    position: relative;
  }
  .header__hero-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: "Rubik Wet Paint", cursive;
    color: #fff;
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
  }
  .header__span--one {
    color: #009A44;
  }
  .header__span--two {
    color: #FFFFFF;
  }
  .header__span--three {
    color: #FF8200;
  }
  .header__shadow--first {
    transform: translate(35%, 0);
    height: 10px;
    width: 300px;
    box-shadow: 0px -25px 41px 60px rgb(0, 0, 0);
  }
  .header__shadow--second {
    transform: translate(30%, 0);
    height: 10px;
    width: 500px;
    box-shadow: 0px -25px 41px 30px rgb(0, 0, 0);
  }
  .header__img--first, .header__img--second {
    transform: translateX(60%);
  }
  .header__heading {
    width: 600px;
    font-size: 2em;
    transform: translate(50%, 400%);
  }
  .nav-desktop {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(75%, -150%);
    display: block;
    color: #fff;
  }
  .nav-separator {
    font-size: 2em;
  }
  .nav__link {
    color: #fff;
    font-size: 2em;
    padding: 0 1em;
  }
  .abouthim {
    height: 80vh;
  }
  .abouthim__img img {
    height: 400px;
    margin: 0 15em;
  }
}/*# sourceMappingURL=style.css.map */