@keyframes HideImgAnim {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes HideImgAnimv2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes headingAnim {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #393646;
}

.hamburger {
  position: absolute;
  z-index: 5;
}
.hamburger-box {
  padding: 30px 10px;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(24, 23, 20, 0.801)), url(../img/mcgregor-navbgc.jpg);
  background-color: black;
  background-position: 55%;
  background-size: cover;
  z-index: -5;
  transform: translateX(-105%);
  transition: transform 0.3s;
}

.nav__link {
  color: #F4EEE0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2em 0;
  letter-spacing: 4px;
}

.header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.header__img-box {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
}
.header__img-box .header__img {
  grid-column: 1/3;
  grid-row: 1/2;
  background-position: center;
  background-size: cover;
}
.header__img-box .header__img--one {
  background-image: url(../img/McGregor-Belt\ 1.jpg);
}
.header__img-box .header__img--two {
  background-image: url(../img/McGregor-\ Belt\ 2.jpg);
  opacity: 0;
  animation: HideImgAnimv2 30s infinite;
}
.header__img-box .header__img--three {
  background-image: url(../img/McGregor\ 2023.jpg);
  animation: HideImgAnim 45s infinite;
}
.header__text-box {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__text-line {
  color: #F4EEE0;
  font-size: 3rem;
  text-transform: uppercase;
}
.header__text-line {
  font-family: "Yatra One", cursive;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    position: relative;
    display: block;
    font-size: 2rem;
    height: 60px;
    padding: 0.5em 4em;
  }
  .nav-desktop::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #F4EEE0;
  }
  .nav__link {
    padding: 1em 0;
    transition: font-size 0.3s;
  }
  .nav__link:hover {
    font-size: 2.2rem;
  }
  .nav-separator {
    color: #F4EEE0;
    font-size: 3rem;
  }
  .header__img-box {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .header__text-box {
    position: absolute;
    transform: translate(20em, -15em);
  }
  .header__text-line {
    opacity: 0;
    padding: 1em 0;
  }
  .header__text-line--first {
    margin-right: 10em;
    animation: headingAnim 2s forwards;
  }
  .header__text-line--second {
    animation: headingAnim 2s forwards;
    animation-delay: 0.5s;
  }
  .header__text-line--third {
    margin-left: 10em;
    animation: headingAnim 2s forwards;
    animation-delay: 1s;
  }
}/*# sourceMappingURL=style.css.map */