@use '../utilities/' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// *****
// FONTS
// font-family: 'Rubik Wet Paint', cursive;
// font-family: 'Stalinist One', cursive;
// *****
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background-color: $background;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
// *****
// HAMBURGER
// *****
.hamburger {
	position: absolute;
	z-index: 50;
	touch-action: none;
	&-box {
		padding: 30px 10px;
	}
}
// *****
// NAVIGATION
// *****
.nav-desktop {
	display: none;
}
.nav-mobile {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	transform: translateX(-105%);
	transition: transform 0.3s;
	z-index: 10;
	backdrop-filter: blur(30px);
	touch-action: none;
}
.nav-mobile--active {
	transform: translateX(0);
}
.nav__link {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2em 0;
	letter-spacing: 4px;
}
.nav__link:hover {
	color: red;
}
// *****
// HEADER
// *****
.header {
	position: relative;
	height: 100vh;
	overflow: hidden;
	&__hero-sign {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em 0;
		font-family: 'Rubik Wet Paint', cursive;
		color: #fff;
		font-size: 2.2rem;
		text-transform: uppercase;
		text-align: center;
	}
	&__span--one {
		color: $irish-green;
	}
	&__span--two {
		color: $irish-white;
	}
	&__span--three {
		color: $irish-orange;
	}
	&__img-box {
		position: absolute;
	}
	&__img--first, &__img--second {
		position: absolute;
	}
	&__img--first {
		animation: firstImg 8s infinite ease-out;
		img {
			height: 280px;
		}
	}
	&__img--second {
		animation: secondImg 8s infinite ease-out;
		opacity: 1;
		// padding: 0 .2em;
		img {
			height: 250px;
			width: 400px;
		}
	}
	&__shadow--first {
		transform: translate(35%, 0);
		height: 10px;
		width: 300px;
		box-shadow: 0px -25px 41px 60px rgba(0, 0, 0, 1);
	}
	&__shadow--second {
		transform: translate(30%, 150%);
		height: 10px;
		width: 500px;
		box-shadow: 0px -25px 41px 30px rgba(0, 0, 0, 1);
	}
	&__heading {
		height: 100px;
		width: 400px;
		transform: translate(-10%, 300%);
		padding: 0 1em;
		text-align: center;
		span {
			font-family: 'Stalinist One', cursive;
			color: #fff;
			font-size: 1.5em;
			text-transform: uppercase;
			opacity: 0;
			animation: headingAnim 5s forwards;
		}
	}
	&__first-name {
		:nth-child(1) {
			animation-delay: .2s;
		}
		:nth-child(2) {
			animation-delay: .4s;
		}
		:nth-child(3) {
			animation-delay: .6s;
		}
		:nth-child(4) {
			animation-delay: .8s;
		}
		:nth-child(5) {
			animation-delay: 1s;
		}
	}
	&__last-name {
		:nth-child(1) {
			animation-delay: 1.2s
		}
		:nth-child(2) {
			animation-delay: 1.4s
		}
		:nth-child(3) {
			animation-delay: 1.6s
		}
		:nth-child(4) {
			animation-delay: 1.8s
		}
		:nth-child(5) {
			animation-delay: 2s
		}
		:nth-child(6) {
			animation-delay: 2.2s
		}
		:nth-child(7) {
			animation-delay: 2.4s
		}
		:nth-child(8) {
			animation-delay: 2.6s
		}
	}
}
// *****
// ABOUT HIM
// *****
.abouthim {
	height: 120vh;
	overflow: hidden;
	&__heading {
		position: relative;
		font-size: 2.5em;
		padding: 2em 0;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Stalinist One', cursive;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: 2px;
			width: 100vw;
			background-color: #fff;
		}
	}
	&__img {
		img {
			height: 200px;
			margin: 0 1em;
			border-radius: 50%;
			box-shadow: 3px -2px 40px 0px rgba(148, 148, 148, 1);
		}
	}
	&__text {
		padding: 2em 1em;
		color: #fff;
		font-size: 2em;
		text-align: center;
	}
}
// *****
// DOUBLECHAMP
// *****
.doublechamp {
	&__heading {
		position: relative;
		font-size: 2.5em;
		padding: 2em 1em;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Stalinist One', cursive;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: 2px;
			width: 100vw;
			background-color: #fff;
		}
	}
	img {
		border-radius: 10px;
		box-shadow: 3px -2px 40px 0px rgba(148, 148, 148, 1);
	}
	&__img--first {
		height: 180px;
		margin: 0 2.5em;
	}
	&__img--second {
		height: 150px;
		margin: 2em 2.5em;
	}
	&__text {
		padding: 1em 1em;
		font-size: 2rem;
		color: #fff;
		text-align: center;
	}
	
}
@include small;
@include medium;
@include large;