@use 'colors' as *;
@mixin heading {
	position: relative;
	font-size: 2.5em;
	padding: 2em 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Stalinist One', cursive;
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 2px;
		width: 100vw;
		background-color: #fff;
	}
}
