@mixin small {
    @media (min-width: 375px) {
        .header {
            &__hero-sign {
                padding:1em;
            }
            &__heading {
                transform: translate(-5%, 350%);
                font-size: 1.3rem;
            }
        }
        .abouthim {
            height: 100vh;
            &__img {
                margin: 0 2.5em;
            }
        }
        .doublechamp {
            &__img--first {
                margin: 0 5em;
            }
            &__img--second {
                margin: 5em 5em 0 5em;
            }
        }
    }
    @media (min-width: 414px) {
        .header {
            &__hero-sign {
                font-size: 2.5em;
            }
            &__heading {
                transform: translate(-1%, 350%);
                font-size: 1.4rem;
            }
        }
        .abouthim {
            &__img {
                margin: 0 4em;
            }
            &__text {
                font-size: 2.5em;
            }
        }
        .doublechamp {
            img {
                height: 200px;
            }
            &__img--first {
                margin: 0 6em;
            }
            &__img--second {
                margin: 5em 3em 0 3em;
            }
        }
    }
}