@mixin small {
    @media (min-width: 375px) {
        .header {
            &__hero-sign {
                padding:1em;
            }
            &__heading {
                transform: translate(-5%, 300%);
            }
        }
    }
    @media (min-width: 414px) {
        .header {
            &__hero-sign {
                font-size: 2.5em;
            }
        }
    }
}